<div id="title">
    <h1>{{title}}</h1>
    <h2>{{subTitle}}</h2>
    <p>{{email}}</p>
</div>

<article class="about">
    <h2>Sobre mi</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ut nulla euismod, faucibus libero id, auctor sapien. Pellentesque vel diam vel libero placerat tempus. Cras vitae purus elit. Nunc gravida, purus id vestibulum maximus, tortor tortor sollicitudin lectus, non ultricies ex risus fermentum erat. Praesent tristique ultrices eros eget malesuada. Cras et lectus justo. Suspendisse efficitur, velit id fringilla sodales, nunc lacus auctor lacus, eu dictum purus velit vel risus. Fusce tempus volutpat pretium. Suspendisse eu tortor lacus. Integer vel aliquam est. Duis quis urna gravida, varius dui eu, eleifend sapien. Proin eget ornare turpis. Sed massa felis, aliquam maximus turpis eget, tempus fermentum augue.
    </p>
</article>